.Rproj.user
.Rhistory
.RData
.Ruserdata
report.html
datahydra/*
datahydra
simulation/files/*
datahydra_related/*
datahydra_related
ggmix.Rproj
files
inst/doc
reports/*
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.gz
*.toc
reviewers.odt
cover_letter.pdf
letter_to_editor.docx
PGENETICS*